#
#
[flake8]
ignore =
    ## I like double comments.
    E266,

    ## Long lines.
    E501,

    ## I like to indent my code like this.
    E123,

    ## Multiple spaces before an operator makes it more readable
    E221,

    ## Unused imports, plenty of the older code has them.
    F401,

    ## `global` declarations that are only read.
    F824,

per-file-ignores =
    PortMaster/pylibs/harbourmaster/*:E225
    PortMaster/pylibs/harbourmaster/hardware.py:E201,E241
    PortMaster/pugwash:E402
    PortMaster/harbourmaster:E402
